/* ==UserStyle==
@name           Compact Microbit Editor
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Gustavo M.
@preprocessor   stylus
@updateURL      https://codeberg.org/GustavoM/userstyles/raw/branch/main/compact-microbit-editor.user.css
==/UserStyle== */

@-moz-document domain("makecode.microbit.org") 
    /* Insert code here... */
	
	dropdown() 
		&::after 
			font-family Icons
			content "\f078"
			font-size .6em
			position absolute
			bottom -4px
			right -4px
			width 25px
			height 25px
			display flex
			justify-content center
			align-items center
			background-color white
			color blue !important
			border-radius 100px
			box-shadow 0 4px 8px rgba(0,0,0,0.2)
			font-weight 900
			transform rotate(180deg)
			transition transform .2s, right .2s cubic-bezier(0,0,0,1.2)
			pointer-events none !important
		
		&:hover, &:focus-within 
			&::after 
				transform rotate(90deg)
				right 0px
			
		
	
		
	
	// HEader
	.menubar .ui.menu 
		// width auto !important
		// padding-inline 30px
		// .left 
		// 	display none !important
		// 
		position absolute
		// background none !important
		max-height 0 !important
		min-height unset !important
		// justify-content space-between !important
		> * 
			min-height 3em
			margin 1em
			min-width max-content !important
			flex-grow 0
			border-radius 100px
			
		
		.left, .right 
			background inherit !important
			
		
		.left 
			transition transform .4s cubic-bezier(1,.5,0,1.2) !important
		
		.center 
			margin-left auto !important
			position relative
			#editortoggle 
				backdrop-filter blur(5px)
				> * 
					// overflow hidden
					transition margin .2s, width .2s, height .2s, padding-inline .3s, opacity .4s .1s
					transition-timing-function cubic-bezier(0,1,0,1.05)
				
				&:not(:hover):not(:focus-within) 
					.item 
						width 52px
						border-radius 100px !important
					
					#editordropdown 
						width 0
						height 0
						padding 0
						opacity 0
						overflow hidden
						margin auto 0
					
					i 
						margin-right 0
					
					span 
						font-size 0 !important
					
					> [aria-selected="false"] 
						width 0 !important
						padding 0
						opacity 0
						transition margin .2s, width .2s, padding-inline .3s, opacity .1s
						
						& ~ .toggle 
							margin-left 0 !important
						
					
				
			
			dropdown()
		
		.right.menu 
			// overflow hidden
			margin-left 0 !important
			position relative
			> .item 
				padding-inline .7em
				border-radius 100px !important
				transition background .2s, padding .2s, opacity .1s .1s
				transition-timing-function cubic-bezier(0,0,0,1)
				border 0 !important
				&:nth-child(2) 
					padding-left 1em
				
				&:last-child 
					padding-right 1em
				
				i 
					transform scale(.8) !important
				
			
			&:not(:hover):not(:focus-within) 
				transition background .2s, padding .2s, opacity .1s
				> .item:not(:last-child) 
					width 0
					overflow hidden
					padding 0 !important
					opacity 0
				
				&:last-child 
					padding-left .35em
				
			
			dropdown()
		
	
	.collapsedEditorTools 
		#mainmenu 
			.left 
				transform translateX(-120%) scale(.7)
				// opacity 0
			
		
	
	
	
	#editorSidebar 
		margin-top 4em
	
	
	#editorSidebar, #maineditor, #sidedocs 
		top 0
		// bottom 0 !important
		
		
	
	#editortools 
		// background none !important
		height 0
		border 0
		&::before 
			content ""
			background inherit
			position absolute
			inset 0
			top unset
			height 80px
			mask linear-gradient(to bottom, transparent, white)
			pointer-events none
		
		
		> * 
			transform translateY(-40px)
		
		.buttons, input, .editortools-github-btn 
			border-radius 100px !important
			overflow hidden !important
		
		#downloadArea 
			min-width unset
			.item 
				> :first-child 
					padding-left 20px
					border-radius 100px 0 0 100px
				
				> :last-child 
					padding-right 20px
					padding-left 10px
					border-radius 0 100px 100px 0
				
			
		
		.dropdown.icon 
			> i 
				top 0 !important
				transform rotate(90deg) scale(.8)
			
		
	
	#monacoEditor 
		bottom 0
		.monaco-editor, .overflow-guard 
			height 100vh !important
		
	
	.view-line 
		// transition padding .2s
		// transform translateY(6rem)
	
	.lines-content[style*="top: 0"] 
		
	
	
	#simulators 
		margin -50px
	
	


@-moz-document domain("userpxt.io") 
    /* Insert code here... */
	.sim 
		padding 50px
	

