/* ==UserStyle==
@name           Google Classroom Tweaked (Better sidebar + other tweaks)
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    Easily switch classes, as well as other tweaks.
@author         Gustavo M.
@preprocessor   stylus
@updateURL https://codeberg.org/GustavoM/userstyles/raw/branch/main/google-classroom-tweaked.user.css
==/UserStyle== */

@-moz-document domain("classroom.google.com") {
	.tLDEHd {
		font-size 1rem !important
		line-height 1.4rem
		font-weight 400
	}
	.v9TZ3c {
		 margin-top 10px
		 border-radius 14px
	}
	.v9TZ3c {
		border-radius 24px !important
	}
	.g2MItd .bFjUmb-Tvm9db.v9TZ3c {
		position relative
		overflow visible
		> * {
			border-radius 24px
			overflow hidden
		}
		&::before {
			content ""
			position absolute
			inset 0
			background inherit
			filter blur(8px)
			opacity .1
			transform translateY(10px)
		}
	}
	.bg6sud {
		padding-top 0
	}
	// Header
	.joJglb {
		border 0
		transition box-shadow .2s, transform .2s
		a::after {
			transition border-radius .2s, transform .2s, inset .2s
			transition-timing-function cubic-bezier(0,0,0,1.5)
		}
		a {
			transition opacity .2s
		}
		&:not(.kLHn3) {
			a::after {
				border-radius 1.5px !important
				transform translateY(-12px)
				left 30px
				right 30px
			}
		}
		&.kLHn3 {
			box-shadow 0 12px 18px -24px rgba(0,0,0,1)
			// box-shadow none
		}
		& > div > div > div:first-child {
			// padding-left 1em !important
			h1 span {
				// font-weight 700 !important
			}
		}
	}
	.a6pJXc.aTtRxf.a6pJXc {
		border-radius 100px
		left 10px !important
		right 10px !important
		
	}
	[role="contentinfo"] {
		display none !important
	}
	@media only screen and (max-width: 500px) {
		nav.joJglb {
			top unset
			bottom 0
			filter brightness(.95)
			&.yeBmWb {
				transform translateY(66px)
			}
			& > div:first-of-type {
				border-bottom 1px solid rgba(100,100,100,0.2) !important
			}
			// .TeZa2e {
			// 	position fixed
			// 	bottom 0
			// 	left 0
			// 	right 0
			// 	background inherit
			// 	padding-inline 64px
			// }
			// [data-focus-id="JUeBdc"] {
			// 	position fixed
			// 	bottom 0
			// 	left 0
			// 	z-index 100
			// 	width 64px
			// 	height 64px
			// 	display flex
			// 	justify-content center
			// 	align-items center
			// }
		}
		.mhCMAe {
			display none
		}
		.mwJvDe .ECPFEb {
			min-height 40vh
			padding 0 !important
			& ~ div:last-of-type {
				margin-bottom 68px !important
			}
		}
	}
	@media only screen and (min-width: 500px) {
		.joJglb {
			max-width: calc(100% - 70px) !important;
			[data-focus-id="JUeBdc"] {
				display none
			}
		}
		body {
			padding-left 70px !important
		}
		.ETRkCe {
			display block !important
			visibility visible !important
			animation-duration .4s !important
			// animation-timing-function cubic-bezier !important
			transition width .2s cubic-bezier(0,0,0,1), box-shadow .2s
			box-shadow 0 0 24px rgba(0,0,0,0.1) !important
			&::before {
				content ""
				position absolute
				inset 0
				background inherit
				z-index -1
				filter brightness(1.2)
				transition opacity .2s
			}
			[role="menu"] {
				scrollbar-width thin !important
				transition scrollbar-color .4s
			}
			[role="separator"] {
				margin-left 25px
				margin-right 18px
				transition transform .4s cubic-bezier(0,0,0,1.5) !important
			}
			.iLjzDc {
				margin-bottom -10px
				transform none !important
				transition height .3s, margin .4s, opacity .2s !important
			}
			.kXvNXe, .iLjzDc {
				transition opacity .2s, transform .3s cubic-bezier(0,0,0,1)
				transition-delay .05s
			}
			.LlcfK {
				transition right .7s
			}
			for row in (1..20) {
				a:nth-child({row}) .kXvNXe {
					transition-delay .012s * row
				}
			}
			&:not(:hover) {
				width 70px
				box-shadow none !important
				transition-timing-function cubic-bezier(1,0,0,1.2)
				&::before {
					opacity 0
				}
				.kXvNXe, .iLjzDc {
					opacity 0 !important
					transform translateX(-15px)
					transition-delay 0s
				}
				.LlcfK {
					right 0 !important
				}
				[role="menu"] {
					scrollbar-color transparent transparent !important
					overflow hidden
				}
				[data-focus-id*="calendar"] + [role="separator"] {
					transform translateY(1rem)
					transition scrollbar-color 1s
				}
			}

		}
	}
	
	// Cards
	[data-course-id] {
		border-radius 20px
		overflow visible
		> div, > div > div {
			border-radius inherit
			
		}
		> div:nth-child(2) {
			* {
				position relative
			}
		}
		> div:nth-child(2), > div:nth-child(3) {
			* {
				color white !important
				z-index 2
				// position relative
			}
		}
		> div > div:nth-child(2) {
			
			&::after {
				content ""
				position absolute
				inset 0
				bottom -200px
				// filter contrast(.5)
				filter saturate(1.3)
				// opacity .8
				// z-index -1
				background inherit
				pointer-events none
				border-radius inherit
				background-size fit
			}
			&::before {
				content ""
				position absolute
				inset 10px
				bottom -200px
				background inherit
				filter blur(20px)
				transform translateY(10px)
				opacity .5
				z-index -2
				border-radius inherit
				pointer-events none
			}
		}
	}
	
	
}