/* ==UserStyle==
@name           Minimal Slack
@namespace      github.com/openstyles/stylus
@version        1.0.1
@description    A CSS theme to make Slack look nicer
@author         Gustavo M.
@preprocessor   stylus
@updateURL      https://codeberg.org/GustavoM/userstyles/raw/branch/main/minimalslack.user.css
==/UserStyle== */

@-moz-document domain("app.slack.com") {

	// Global Stuff
	.c-base_icon, .c-base_icon__width_only_container {
		border-radius 20%
	}
	.c-base_icon__width_only_container {
		overflow visible
		box-shadow 0 4px 24px -8px rgba(0,0,0,0.4)
	}
	.p-message_pane__foreword--slackbot .p-message_pane__foreword__avatar {
		margin-right 18px
		& + div {
			margin-top 8px
		}
	}
	.p-workspace__primary_view {
		max-height unset !important
		&::before, &::after {
			content "" !important
			position absolute
			bottom 0
			left 0px
			width 24px
			height 24px
			border-bottom-left-radius 100px
			box-shadow -5px 5px 0 5px var(--p-channel_sidebar__column-bg)
			z-index 300
		}
		&::after {
			top 0
			border-radius 0 !important
			border-top-left-radius 100px !important
			box-shadow -5px -5px 0 5px var(--p-channel_sidebar__column-bg)
		}
		--sk_foreground_min_solid transparent
		--sk_foreground_min transparent
	}
	// Toolbar Header
	@media (min-width 675px) {
		.p-client, .p-workspace-layout {
			grid-template-rows: 0 auto min-content;
			[data-qa="top-nav"] {
				height: 49px;
				width: 44px;
				width 50px
				// margin-top: 3px;
				// margin-right: 2px;
				// margin-left: auto;
				// padding-left 20px !important
				overflow: hidden;
				justify-content: flex-end;
				padding-right 5px
				// border-radius: 8px;
				// border-bottom-left-radius 24px
				border-radius 100px 0 0 100px
				border-radius 0 100px 100px 0
				// transition: width .2s .7s
				transition: width .2s cubic-bezier(1,0,0,1.1) .7s, background .2s .75s
				z-index 301
				.p-top_nav__sidebar, .p-top_nav__right {
					min-width: unset !important;
					flex-grow: 0 !important;
				}
				.p-top_nav__right {
					transition: padding .1s .7s cubic-bezier(0,0,0,1.2)
					padding-right: 8px;
					padding-left: 16px;
				}
				&:not(:hover):not(:focus-within) {
					background none
				}
				&::after {
					content ""
					position absolute
					inset 0
					background inherit
					z-index -1
					filter blur(10px)
					opacity 0
					border-radius inherit
					transition opacity .2s !important
				}
				&:hover, &:focus-within {
					width: 400px;
					overflow visible !important
					&::after {
						opacity .4
					}
					.p-top_nav__right {
						padding-right: 16px;
						transition: padding .2s 0s  cubic-bezier(0,0,0,1.5)
					}
					// transition: width .2s cubic-bezier(0,1.1,1,1)
					transition: width .2s cubic-bezier(0,1,0,1), background .2s
				}
			}
			.p-view_header, .p-flexpane_header {
				// padding-right: 48px !important;
			}
			.p-ia__sidebar_header__button {
				padding-left 50px
			}
		}
		.p-workspace__sidebar--collapsed ~ [style="display: contents;"] {
			.p-view_header {
				padding-left 50px
			}
		}
	} 
	// Sidebar
	.p-workspace__sidebar {
		&::after {
			content unset !important
		}
		.c-scrollbar__child {
			padding 10px
			box-sizing border-box
		}
		.p-channel_sidebar__section_heading_expand_container {
			width 20px
		}
		.p-channel_sidebar__section_heading_label_overflow {
			font-weight 700
		}
		.c-scrollbar__hider {
			margin-right -2px !important
		}
		.c-scrollbar__child {
			// box-shadow inset -12px 0 24px -24px rgba(0,0,0,0.2)
		}
	}
	// Channels
	[class*=p-channel_sidebar__] {
		border-radius 8px !important
		// border-radius 100px !important
		contain unset !important
		font-size .97em
		box-shadow 0 4px 24px -8px rgba(0,0,0,0)
		&[class*="--selected"]:not([class*="edit"][class*="--selected"]) {
			position relative
			height unset !important
			z-index 10
			font-weight 800

			// / body:not(.sk-client-theme--dark) ^[1..-1] {
				background-color unquote("rgba(" + var(--sk_primary_background, 255,255,255) + ")")
				
				color unquote("rgba(" + var(--sk_primary_foreground, 33,33,33) + ")") !important
				width calc(100% - 30px)
				color var(--lt-color-text-default)
				// line-height 28px + 4px
				// inset-block -2px !important
				border-radius 100px !important
				// background none
				margin-left 40px
				box-shadow 0 4px 24px -8px rgba(0,0,0,0.2)
				
				&::after, &::before {
					content ""
					position absolute
					top -20px
					right 0
					width 20px
					height 20px
					border-bottom-right-radius 100px
					box-shadow 12px 12px 0 10px unquote("rgba(" + var(--sk_primary_background, 255,255,255) + ")")
				}
				&::before {
					bottom -20px
					top unset
					box-shadow 12px -12px 0 10px unquote("rgba(" + var(--sk_primary_background, 255,255,255) + ")")
					border-radius 0 !important
					border-top-right-radius 100px !important
				}
				> *:first-child {
					margin-left -44px
					margin-right 20px
					// color inherit !important
					
					svg {
						stroke-width 10 !important
						font-weight 700
						color var(--p-channel_sidebar__theme-text--opacity-89)
					}
				}
				
				
		}
	}
	
	// CHat HEader
	.p-view_header, .p-ia__sidebar_header {
		// box-shadow 0 8px 24px -18px rgba(0,0,0,0.4) !important
		border 0 !important
		&.p-ia__sidebar_header {
			z-index 2
		}
	}
	.p-view_header__title, .p-flexpane__title_container,
 	.p-ia__sidebar_header__team_name_text {
		font-weight 700 !important
	}
	.p-view_header__topic_container {
		font-size 1em
		// color inherit !important
		// font-weight 600
		
	}
	.p-bookmarks_bar {
		margin 4px
		padding 0 12px !important
		border 0
		border-radius 100px
		width max-content
		right 0
		
		contain unset !important
		.p-bookmarks_bar__dnd {
			flex unset !important
			width max-content
		}
	}
	
	// Messages
	.c-message_attachment__image, .c-message_attachment__thumb, .c-message_attachment__video_thumb,
 	.p-file_image_thumbnail__wrapper, .p-file_image_thumbnail__wrapper:focus {
		border-radius 12px
		border-top-left-radius 4px
		box-shadow 0 8px 24px -8px rgba(0,0,0,0.2)
		border 0 !important
		&::after {
			content unset
		}
	}
	.c-message_kit__background {
		background none !important
		position relative
		animation slideUpFade .4s backwards cubic-bezier(0,0.5,0,1)

		&::after {
			content ""
			position absolute
			inset 2px 24px
			left 32px
			bottom 2px
			border 1px solid rgba(150,150,150,0.3)
			border-radius 12px
			opacity 0
			pointer-events none
			z-index -1
			transition opacity .2s
		}
		&[class*="--hovered"] {
			&::after {
				opacity 1
			}
		}
	}
	.c-virtual_list__item--initial-activeitem .c-message_kit__background::after  {
		box-shadow 0 4px 24px -4px rgba(0,0,0,0.1)
		opacity 1 !important
	}
	.c-message_kit__gutter__left .p-member_profile_hover_card {
		position sticky
		top 20px
	}
	.c-message_kit__sender {
		font-weight 600 !important
		font-size .9em !important
	}
	.p-rich_text_section {
		// line-height 1.5
		margin-block .2em
		font-size .95em !important
	}
	.c-message_kit__gutter {
		padding-inline 25px !important
		padding-block 10px !important
		padding-right 40px !important
		.c-message_kit__gutter__left {
			margin-right 12px !important
			margin-top -2px
		}
	}
	
	.c-message_kit__attachments {
		.c-message_attachment__body {
			padding 10px 15px
			// border 1px solid var(--lt-color-border-default)
			border-radius 0 12px 12px 0
			overflow hidden
			.c-message_attachment__thumb {
				&::after {
					content ""
					background-image inherit
					position absolute
					inset -900px
					background-size 10px
					filter blur(10px)
					opacity .3
					z-index -1
				}
			}
		}
	}
	
	.c-message_list__day_divider {
		margin-inline 40px
	}
	
	// Message Bar
	.p-message_pane_input {
		// padding 0
	}
	.c-wysiwyg_container--theme_light_bordered {
		// border-inline 0 !important
	}
	.c-basic_container__body {
		margin-top 2px
		> [role="toolbar"][class*="__formatting"] {
			// display: none;
		}
		> [class*="texty_input_unstyled__container"] {
			// margin-left 40px
		}
	}
	// People are from other organizations thingy
	.p-message_pane_input_inner_top {
		position absolute
		bottom 8px
		right 30px
		// height 20px
		.p-context_bar {
			border 1px solid rgba(150,150,150,.3)
			padding 4px
			border-radius 6px
			// display flex
			// align-items center
			min-height unset
			height auto !important
		}
	}
	
	// Rigbt Pane
	.p-workspace__secondary_view {
		// animation slideMarginLeft 1s backwards cubic-bezier(0,1,0,1)
		.c-message_kit__gutter {
			margin-block 20px !important
		}
	}
	
	//// POPUPS
	.ReactModal__Content {
		> div {
			transition all .2s
			animation scaleIn .3s cubic-bezier(0,0,0,1.2)
		}
	}
	
	
	@keyframes slideMarginLeft {
		from {
			// transform translateX(100%)
			margin-left 100%
			margin-right -100%
		}
	}
	@keyframes slideUpFade {
		from {
			transform translateY(20px)
			opacity 0
		}
	}
	@keyframes scaleIn {
		from {
			filter opacity(0)
			transform scale(.9)
		}
	}
	
}


@-moz-document domain("slack.com") {
    /* Insert code here... */
	.p-ssb_redirect__loading_messages {
		font-size 0 !important
		margin-top 50px
		a:last-child {
			font-size 1.5rem !important
			border 1px solid currentColor
			padding .5em 1em
			border-radius 12px
			text-transform Capitalize
			box-shadow 0 4px 24px -12px currentColor
		}
	}
	
}

