/* ==UserStyle==
@name           Minimal LinkedIn
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A CSS theme to make LinkedIn look nicer
@author         Gustavo M.
@preprocessor   stylus
@updateURL      https://codeberg.org/GustavoM/userstyles/raw/branch/main/minimallinkedin.user.css
==/UserStyle== */

@-moz-document domain("www.linkedin.com") {
	html, body {
		/:not(.theme--dark) {
			--color-background-canvas white !important
			--color-background-canvas #f3f8fb !important
			--color-background-canvas #f0ffff !important
		}
	}
	.global-nav__me-photo, 
	.artdeco-entity-lockup [class*="artdeco-entity-lockup__image--type-square"] img, [class*="artdeco-entity-pile__image--square"], [class*="EntityPhoto-square"] {
		border-radius 20% !important
	}
	.news-module__link {
		padding-block .4em
	}
	.feed-shared-update-v2 {
		margin-bottom 20px !important
	}
	body.nav-v2 {
		margin-left 100px
		--elevation-raised 0 16px 24px -16px rgba(0,0,0,0.1)
		--elevation-lined 0 0 0 1px var(--color-background-canvas), 0 4px 40px rgba(0,0,100,0.05), 0px 5px 4px 1px rgba(0,0,0,0.04), 0 12px 120px rgba(0,0,0,0.01)

		--scaffold-layout-xl-max-width 80em
		[data-darkreader-mode="dynamic"] & {
			background var(--darkreader-neutral-background) !important
			--color-background-canvas var(--darkreader-neutral-background) !important
			--color-background-container var(--darkreader-bg--color-background-container)
		}
		
	}
	.authentication-outlet {
		padding-top 0
	}
	.scaffold-layout__content {
		padding 60px 20px
		margin-top 0
		padding-top calc(var(--scaffold-layout-gutter) + 60px)
		> .scaffold-layout__sidebar {
			&:first-child {
				z-index 3
			}
			.artdeco-card {
				text-align left !important
				img {
					margin-bottom 0
				}
			}
		}
		> :not(main) {
			margin-top 20px
		}
		
	}
	.scaffold-layout__header + .scaffold-layout__row.scaffold-layout__content {
		max-width calc(100% - 100px)
		margin auto
	}
	.scaffold-layout-container.scaffold-layout-container--reflow {
		max-width 100% !important
	}
	.scaffold-layout__row > * {
		animation slideUp 1.5s backwards cubic-bezier(0,1,0,1)
		animation-delay .1s
		
		&:nth-child(2) {
			animation-delay 0s
		}
	}
	@keyframes slideUp {
		from {
			transform translateY(50px)
			opacity 0
		}
	}
	
	
	
	.feed-shared-update-v2__content {
		border-radius var(--corner-radius-medium) !important
		box-shadow 0 12px 30px -12px rgba(0,0,0,0.1)
		overflow hidden !important
		margin-inline 16px
		margin-bottom 10px
	}
	.ivm-view-attr__img-wrapper {
		overflow hidden
	}
	
	[class*="--hidden"] {
		top -50px !important
	}
	.org-sticky-top-card--is-showing, [class*="--is-fixed"],
	.scaffold-layout-toolbar {
		top 0 !important
		z-index 10
	}
	.side-panel__overlay {
		margin-top 0
	}
	.side-panel__modal {
		height 100%
		border-radius 0 30px 30px 0 !important
		border-radius 0 !important
	}
	
	.artdeco-dropdown__content {
		position fixed
		top 0px
		left 100px
		height 100%
		max-height unset
		border-radius 0 !important
		--point-top-right 0 !important
		padding 20px
		box-shadow 20px 0 30px -30px rgba(0,0,0,0.2) !important
		> div {
			border-radius 0 !important
			animation slideUp 1s backwards cubic-bezier(0,1,0,1)
		}
	}
	.artdeco-carousel__content {
		overflow visible
		li {
			transition transform .4s cubic-bezier(0,0,0,1)
		}
		.active {
			& ~ li {
				transform translateY(4px)
				opacity .8
				& ~ li {
					transform translateY(8px)
					opacity .6
				}
			}
		}
		.artdeco-carousel__item-container {
			background-color var(--color-background-container)
			transition opacity .7s !important
			&[data-test-display="hidden"] {
				opacity 0
			}
			&[data-test-display="display"] {
				animation slideUpSmall .7s cubic-bezier(0.5,0,0,1) backwards
			}
		}
	}
	@keyframes slideRight {
		from {
			transform translateX(50px)
		}
	}
	@keyframes slideUpSmall {
		from {
			transform translateY(10px)
			opacity 0
		}
	}
	
	
	
	
	#global-nav {
		border-right 1px solid rgba(150,150,150, 0.1)
	}
	#global-nav, .global-nav__content {
		left 0
		bottom 0
		width 100px
		padding 10px 0
		padding-left 5px
		z-index 999999999999
		.global-nav__nav {
			display contents
		}
		&.global-nav__content {
			display flex
			flex-direction column
			align-items center !important
			animation slideUp 3s .2s backwards cubic-bezier(0,1,0,1)
		}
		// Tooltip
		.global-nav__primary-link-text {
			font-size 1.2em !important
			max-width 100%
			padding 0 12px
			white-space normal
			text-align center
			hyphens manual
			word-break break-word
			position absolute
			left 100%
			width max-content
			max-width unset
			padding .2em .8em
			border-radius 6px
			box-shadow 0 2px 8px rgba(0,0,0,0.1), 0 8px 24px -10px var(--color-action)
			transform scale(.9)
			transform-origin left top
			opacity 0
			pointer-events none
			background-color var(--color-background-container)
			font-weight 700
			transition transform .2s, opacity .2s
		}
		& > * {
			margin 0 !important
		}
		
		.global-nav__branding-logo {
			margin 0
			overflow visible !important
			
			filter drop-shadow(0 5px 5px rgba(0,0,255,.1))
			margin-block 10px
			&::before {
				content ""
				position absolute
				inset 5px
				background-color white
			}
		}
		
		#global-nav-search {
			position sticky
			left 0
			flex-grow 0
			height 60px
			margin-top 10px !important
			width 100%
			display flex
			align-items center
			justify-content center
			&:not(:focus-within) {
				overflow hidden
				
				* {
					position static !important
					cursor pointer !important
				}
				input {
					position absolute !important
					inset 0
					width 100% !important
					height 100% !important
					padding 0 !important
					opacity 0
				}
				svg {
					position absolute !important
					inset 0 !important
					width 1.3em !important
					height 1.3em !important
				}
			}
			&:focus-within {
				> div {
					position fixed
					top 72px
					left 16px
					top 80px
					left 24px
					width 500px
					max-width unset
					background-color var(--color-background-container)
					padding 12px
					box-shadow 0 4px 12px rgba(0,0,0,0.1)
					border-radius var(--corner-radius-medium)
					transition all .2s cubic-bezier(0,1,0,1.5)
				}
				
			}
			[class*=search-box__overlay] {
				display none
			}
		}
		&, .global-nav__primary-items {
			display flex
			flex-direction column
			align-items flex-end !important
		}
		.global-nav__primary-items {
			display contents
		}
		.global-nav__primary-link {
			padding 18px 15px
			opacity .8
			border 0 !important
			position relative
			svg {
				transform scale(.9)
			}
			&:hover {
				.global-nav__primary-link-text {
					opacity 1
					transform none
				}
			}
			&::after {
				all unset
				content ""
				position absolute
				inset -20px -8px
				box-shadow 30px 0 37px -40px
				opacity 0
				pointer-events: none
			}
			&::before {
				content ""
				position absolute
				right -8px
				left -8px
				top 10px
				bottom 5px
				border-right 1px solid currentColor
				opacity 0
			}
			.global-nav__icon-ivm::before {
				all unset
				
				content ""
				position absolute
				inset 7px 17px !important
				box-shadow 0 4px 12px rgba(0,0,0,0.1),
							0 6px 100px -10px var(--color-action)
				z-index -1
				opacity 0
				border-radius 10px
				background-color var(--color-background-container)
				transition opacity .2s
			}
			&[class*="active"] {
				opacity 1
				color var(--color-action)
				&::after, &::before, .global-nav__icon-ivm::before {
					opacity 1
				}
				svg {
					transform scale(.9)
				}
			}
		}
	}
	
	// Cards
	.feed-shared-update-v2 {
		padding-top 4px
	}
	
	#app-boot-bg-loader {
		display unset !important
		transition background 1s
		pointer-events none
		animation slideUp 1.5s backwards cubic-bezier(0,1,0,1)
	}
	
	
	
}